<div>
    <h3 style="text-align:center">Gender</h3>
    <hr>
    <canvas id="gender"></canvas>
</div>

<script>

    var can = document.getElementById("gender");
    var male = @ViewBag.male;
    var female = @ViewBag.female;

    var genderC = new Chart(can, {
        type: "doughnut",
        data: {
            labels: ["Male", "Female"],
            datasets: [{
                data: [male, female],
                backgroundColor: ["#3CAFFF", "#3CFFF6"],
                borderColor: ["#3CAFFF", "#3CFFF6"]
            }]
        },
        //options: {
            //title: {
                //text: "Gender",
                //display :true
            //}
            
        //}
    });


</script>