
@{
    ViewData["Title"] = "Dashboard";
}


<head>

    <script src="~/js/Chart/Chart.js"></script>
</head>

<h2 style="text-align:center">Data Analysis</h2>

<hr>
<div>
    @await Html.PartialAsync("ChartView2.cshtml")
</div>
<hr>
<div>
    @await Html.PartialAsync("ChartView1.cshtml")
</div>
<hr>
<div>
    @await Html.PartialAsync("ChartView3.cshtml")
</div>
<hr>
<div>
    @await Html.PartialAsync("ChartView4.cshtml")
</div>




